.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.fixed{
    position: fixed;
    width: 300px;
}

.all-suggestions{
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}